/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
::before,
::after {
  box-sizing: border-box;
}


.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: $based-color-text;
  background-color: #ffffff;
}


.visually-hidden {
  display: none;
}

.email::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.64px;
  text-align: left;
  color: $based-color-text;
}

input {
  outline: none;
}
