/* здесь используйте глобальные переменные */
$based-color-text: #444444;
$based-color-black: #000000;
$based-color-white: #ffffff;
$based-color-green: #68b738;
$based-color-gray:#f2f2f2;
$tablet-width:786px;
$desktop-width:1200px;
