@charset "UTF-8";
/* GLOBAL */
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
/* здесь используйте глобальные переменные */
/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}

.button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
}

.more-button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
}

.email::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.64px;
  text-align: left;
  color: #444444;
}

/* BLOCKS */
.main-nav__list {
  list-style: none;
}

.main-nav__list-item a {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}

.hero {
  background-color: hsla(97, 53%, 47%, 0.851);
}

.hero__main-description {
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.hero__description {
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
}

.index-catalog_cards {
  list-style: none;
}

.card {
  background-color: #f2f2f2;
}

.card h2 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  color: #000000;
}

.card__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.card__button {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.features h2 {
  color: #000000;
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.features_item-decsription {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.instance {
  background-color: #f2f2f2;
}

.instance h2 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.instance__discription {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.instance__list {
  list-style: none;
}

.instance__list h3 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.instance__list-discription {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
}

.instance-discription-price {
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.contacts-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #000000;
}

.contacts-discription {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.main-footer {
  background-color: #f2f2f2;
}

.social-list {
  list-style: none;
}

.products-catalog h1 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000000;
}

.products-catalog__catalog-list {
  list-style: none;
}

.catalog-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #222222;
}

.products-catalog__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.products-catalog__more-discription {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.main-catalog-title {
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.additional-products__list {
  list-style: none;
}

.additional-products_item-title {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;
}

.additional-products__weight {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.additional-products__price {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.catalog-gift {
  background-color: hsla(97, 53%, 47%, 0.391);
}

.catalog-gift__discription {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.subscribe__discription {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
}