
.academy-logo {
  width: 27px;
  height: 34px;
  padding-top: 15px;
  text-decoration: none;
  display: flex;
}

.academy-logo::before {
  content: "";
  background-position: center center;
  background-size: contain;
  display: block;
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#html");
  background-repeat: no-repeat;
  background-color: #666666;
}
