.main-catalog-title {
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  color: $based-color-black;
}

.additional-products__list {
  list-style: none;
}

.additional-products_item-title {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  color: #222222;
}

.additional-products__weight {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.additional-products__price {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
