.additional-products {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1221px;
    margin: auto;
    padding-top: 0;
  }
}

.additional-products__position::before {
  content: "";
  z-index: -1;
  background-color: #68b738;
  width: 37px;
  height: 2px;
  position: absolute;
  top: 33px;
  right: 0;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 100%;
    top: 35px;
    right: -30px;
  }

  @media (min-width: $desktop-width) {
    width: 1000px;
    top: 20px;
    right: -500px;
  }
}

.additional-products__position::after {
  @media (min-width: $tablet-width) {
    content: "";
    z-index: -1;
    background-color: #68b738;
    width: 100px;
    height: 2px;
    position: absolute;
    top: 35px;
    left: -100px;
  }

  @media (min-width: $desktop-width) {
    content: "";
    z-index: -1;
    background-color: #68b738;
    width: 1000px;
    height: 2px;
    position: absolute;
    top: 20px;
    left: -1035px;
  }
}


.additional-products__position {
  width: 320px;
  margin: auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 707px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: auto;
  }
}

.main-catalog-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $based-color-black;
}

.additional-products__list {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.additional-products_list-item {
  border-bottom: solid 1px #cdcdcd;
  padding-bottom: 17px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    border: solid 1px #cdcdcd;
    padding: 10px 38px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 7px 0 5px;
    border-left: none;
    border-right: none;
  }
}

.additional-products_list-item:not(:first-child) {
  @media (min-width: $tablet-width) {
    border-top: none;
  }
}


.additional-products_item-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    align-self: center;
  }
}

.additional-products__weight {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }
}

.additional-products__price {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }
}

.additional-products__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 36px;
  padding-top: 24px;
  border-bottom: solid 1px #cdcdcd;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 40px;
    padding-bottom: 80px;
    background-color: #ffffff;
    width: 380px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    padding-left: 0;
    padding-bottom: 85px;
    width: 420px;
  }
}

.additional-products__inner {
  @media (max-width: 767px) {
    max-width: 280px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 285px;
  }
}

.additional-button {
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    padding: 0;
    height: 40px;
    align-self: center;
  }
}

.additional-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}
