.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $based-color-white;
  border: none;
  display: block;
  background-color: #68b738;
  cursor: pointer;
}

.more-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $based-color-text;
  background-color: $based-color-gray;
  border: none;

  @media (min-width: $tablet-width) {
    justify-self: center;
  }
}

.additional-button {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:focus {
  background-color: #5eaa2f;
}

.button:active {
  opacity: 0.8;
}


.more-button:hover {
  background-color: #ebebeb;
}

.more-button:active {
  background-color: #ebebeb;
}
