
.card {
  background-color: $based-color-gray;
  padding: 20px;
  margin-bottom: 20px;
  width: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 40px 50px;
    min-height: 374px;
  }
}

.card h2 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  color: $based-color-black;

  @media (min-width: $tablet-width) {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-left: 55px;
  }
}


.card__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 340px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
  }
}

.card__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $based-color-black;
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.64px;
    text-align: center;
  }
}

.card__link:hover {
  opacity: 0.7;
}

.card__link:active {
  opacity: 0.3;
}

.card__link::after {
  display: inline-block;
  content: "";
  background-color: rgb(0, 0, 0, 0);
  background-image: url("../../icons/stack.svg#arrow");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 10px;
  margin-left: 15px;
  transition: all 0.3s linear;
}

.card__link::after:is(:hover, :active, :focus)::after {
  transform: scaleX(1.35px);
  transform-origin: left;
}

.card::before {
  content: "";
  background-color: rgb(0, 0, 0, 0);
  background-position: center center;
  background-size: contain;
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 40px;
    right: 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
  }
}

.fit-cat::before {
  background-image: url("../../icons/stack.svg#fit-cat");
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    width: 110px;
    height: 106px;
  }
}

.strong-cat::before {
  background-image: url("../../icons/stack.svg#fat-cat");
  width: 67px;
  height: 50px;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
  }
}

.card__title {
  margin: 0;
}
