.catalog-gift {
  background-image: url("../../images/catalog-present@1x.png");
  background-position: 30% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 280px;
  min-height: 290px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/catalog-present@2x.png");
  }


  @media (min-width: $tablet-width) {
    width: 707px;
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    background-position: 100%;
    margin-left: 80px;
    margin-top: 125px;
  }
}

.catalog-gift__discription {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $based-color-white;
  padding-top: 190px;
  width: 161px;
  margin: auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    text-align: left;
    margin: 0;
    margin-left: auto;
    margin-right: 125px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 185px;
    text-align: center;
    margin-left: 40px;
    width: 161px;
    margin-right: 0;
  }
}

.catalog-gift::before {
  content: "";
  background-position: center;
  background-size: contain;
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#icon_gift");
  background-repeat: no-repeat;
  position: absolute;
  top: 56px;
  left: 100px;

  @media (min-width: $tablet-width) {
    top: 55px;
    left: 80px;
    width: 80px;
    height: 82px;
  }

  @media (min-width: $desktop-width) {
    left: 80px;
  }
}
