.catalog-gift {
  background-color: hsla(97, 53%, 47%, 0.39);
}

.catalog-gift__discription {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $based-color-white;
}
