.container {
  position: relative;
}

@media (min-width: $tablet-width) {
  .container {
    padding-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-top: 26px;
  }
}
