
.contacts-inner {
  display: flex;
  margin: auto;
  width: 320px;
  padding: 26px 20px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 786px;
    margin: auto;
  }
}

.contacts-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: $based-color-black;
  width: 140px;
  margin: 0;
}

.contacts-discription {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 157px;
  }
}

.contacts-map {
  min-width: 100%;
  min-height: auto;
  margin: auto;
}
