.contacts {
  position: relative;
  background-color: #f2f2f2;
}

.contacts-inner {
  display: flex;
  margin: auto;
  width: 320px;
  padding: 26px 20px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 786px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    background-color: $based-color-white;
    position: absolute;
    width: 565px;
    top: 120px;
  }
}

.contacts-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: $based-color-black;
  width: 140px;
  margin: 0;
}

.contacts-discription {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 157px;
  }
}

.contacts-map {
  min-width: 100%;
  height: 362px;
  margin: auto;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.contacts img {
  display: block;
}

.contacts iframe {
  border: none;
  display: block;
}
