.features {
  @media (max-width: 785px) {
    max-width: 320px;
    margin: auto;
  }

  @media (min-width: $tablet-width) {
    width: 786px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: auto;
  }
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: 785px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 37px 153px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    gap: 0 94px;
    padding-left: 0;
  }
}

.features h2 {
  color: $based-color-black;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  padding-bottom: 32px;

  @media (max-width: 785px) {
    padding-left: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.features__item-decsription {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  width: 200px;
  display: inline-block;
  padding-left: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 31px 0;
  }
}

.features__list-item {
  display: inline-block;
  width: 280px;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    display: inline-block;
    padding-left: 20px;
    margin: 0;
  }


  @media (min-width: $tablet-width) {
    display: block;
    padding: 31px 0;
    width: 230px;
  }


  @media (min-width: $tablet-width) {
    display: block;
    padding: 31px 0;
  }
}


.features__list-item::before {
  content: "";
  background-color: $based-color-green;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  width: 60px;
  height: 60px;

  @media (min-width: 786px) {
    display: block;
  }

  @media (min-width: 786px) {
    display: block;
  }
}

.features__list-item-leaf::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 30px 32px;
  background-repeat: no-repeat;
}

.features__list-item-wash::before {
  background-image: url("../../icons/stack.svg#wash");
  background-size: 25px 28px;
  background-repeat: no-repeat;
}

.features__list-item-eat::before {
  background-image: url("../../icons/stack.svg#icon_eat");
  background-size: 25px 30px;
  background-repeat: no-repeat;
}

.features__list-item-alarm::before {
  background-image: url("../../icons/stack.svg#alarm");
  background-size: 26px 31px;
  background-repeat: no-repeat;
}
