

.index-catalog {
  @media (max-width: 785px) {
    max-width: 320px;
    margin: auto;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 786px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82px;
    width: 1220px;
    margin: auto;
  }
}

.index-catalog_cards {
  list-style: none;
}


.index-catalog__card {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    list-style: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
  }
}
