.item-more::before {
  content: "";
  background-position: center center;
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  margin: auto;
}

.item-more {
  display: flex;
  flex-direction: column;
}
