.item-more::before {
  content: "";
  background-position: center center;
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  margin: auto;

  @media (min-width: $desktop-width) {
    margin: auto;
  }
}

.item-more {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border: 2px solid #f2f2f2;
    height: 365px;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 380px;
    align-self: flex-end;
  }

}

.more-title {
  @media (min-width: $tablet-width) {
    margin: auto;
    text-align: center;
  }
}

.products-catalog__more-discription {
  @media (min-width: $tablet-width) {
    margin: auto;
  }

}
