.main-footer {
  padding-top: 20px;
  background-color: $based-color-gray;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 45px;
    padding-bottom: 55px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
  }
}

.footer-wrapper {

  width: 320px;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}

.main-footer__inner {
  display: flex;
}

.main-footer__logo-text {
  width: 128px;
  height: 24px;
  margin: auto;
  display: block;


  @media (min-width: $tablet-width) {
    width: 128px;
    height: 24px;
    margin: 0;
    margin-top: 20px;
    margin-right: 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 70px;
  }
}

.main-footer__logo-text:hover {
  opacity: 0.6;
}

.main-footer__logo-text:active {
  opacity: 0.3;
}

.logo-link {
  text-decoration: none;
  color: #444444;
}


.main-footer__academy-discription {
  margin-right: 140px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-left: 20px;
  
  @media (min-width: $tablet-width) {
    margin-right: 23px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
    margin-left: 10px;
  }
}

.main-footer__inner:hover {
  color: #68b738;

  .academy-logo::before {
    background-color: #68b738;
  }


  .logo-link {
    opacity: 0.6;
  }
}

.main-footer__inner:active {
  opacity: 0.3;
}
