.main_nav-close {
  @media (max-width: 785px) {
    display: none;
  }
}

.main-nav {
  position: relative;
  min-width: 320px;

  @media (min-width: 320px) {
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    margin-left: auto;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-nav__list-item a {
  text-decoration: none;
  color: $based-color-black;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    color: $based-color-white;
  }
}


.main-nav__catalog-list-item--active {
  @media (min-width: $tablet-width) {
    border-bottom: solid 2px #68b738;
    padding-bottom: 5px;
  }
}

.main-nav__list .main-nav__list-item--active {
  @media (min-width: $tablet-width) {
    border-bottom: solid 2px #68b738;
  }

  @media (min-width: $desktop-width) {
    border-bottom: solid 2px #ffffff;
  }
}

.main-nav__item-last {
  @media (min-width: 320px) {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
  }
}

.main-nav__list-item {

  text-align: center;

  @media (min-width: 320px) {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__toggle {
  background-image: url("../../icons/stack.svg#icon-menue");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  margin: 0;
  padding: 12px;
  cursor: pointer;
  position: absolute;
  left: 270px;
  top: -42px;
}


@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding-top: 14px;
  }

  .main-nav {
    width: 435px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list-item {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    width: 475px;
    padding-top: 0;
  }

  .main-nav {
    width: 475px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list-item {
    padding-top: 0;
  }
}

.main-nav__catalog {
  color: #111111;
  position: relative;
}

.header-catalog {
  position: relative;
  color: #111111;
}

.main-nav__list-item .main-nav__catalog-list-item {
  color: #111111;
}
