.main-nav {
  position: relative;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list-item a {
  text-decoration: none;
  color: $based-color-black;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}

.main-nav__toggle {
  background-image: url("../../icons/stack.svg#icon-menue");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  margin: 0;
  padding: 12px;
  cursor: pointer;
  position: absolute;
  left: 200px;
  top: -25px;
}


@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 436px;
    margin: 0 auto;
    padding-top: 14px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    width: 475px;
  }

  .main-nav__toggle {
    display: none;
  }
}
