.main-header {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 768px;
    margin: auto;
  }

  @media (max-width: 767px) {
    max-width: 320px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 1220px;
    align-items: center;
    position: relative;
    z-index: 3;
    padding-top: 55px;
  }
}


.main-header__logo-image {
  text-decoration: none;
  width: 33px;
  height: 38px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 60px;
    margin-right: 13px;
    padding-top: 10px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
    margin-right: 0;
    padding: 0;
  }
}

.main-header__logo-wrapper:hover {
  opacity: 0.7;
}

.main-header__logo-wrapper:focus {
  opacity: 0.7;
}

.main-header__logo-wrapper:active {
  opacity: 0.3;
}

.main-header__logo-text {
  width: 101px;
  height: 18px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    padding: 10px 0 16px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
    height: 30px;
    padding: 15px;
    padding-top: 5px;
    padding-left: 12px;
  }
}

.main-header__logo-wrapper {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
  }
}
