.products-catalog {
  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 71px;
  }
}

.products-catalog__position {
  width: 320px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 786px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: auto;
  }
}


.products-catalog h1 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: $based-color-black;
  border-top: solid 1px  #ebebeb;
  border-bottom: solid 1px  #ebebeb;
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.products-catalog__catalog-list {
  list-style: none;
  padding: 0;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    gap: 80px 63px;
  }
}

.catalog-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  grid-area: catalog-title;
  margin: 0;
  text-align: center;
}


.products-catalog__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.products-catalog__more-discription {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}


.products-catalog__list-item {
  border-bottom: solid 1px  #ebebeb;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding: 20px 20px 25px;

  @media (min-width: $tablet-width) {
    width: 324px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.products-catalog__inner {
  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-areas:
    "catalog-title ."
    "wt            wght"
    "tit           tt"
    "pt            pp";
  gap: 0;
}

.catalog-button {
  width: 280px;
  height: 40px;
}

.weight-title {
  grid-area: wt;
}

.weight {
  grid-area: wght;
}

.taste-title {
  grid-area: tit;
}

.taste {
  grid-area: tt;
}

.price-title {
  grid-area: pt;
}

.price {
  grid-area: pp;
}
