.products-catalog {
  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.products-catalog__position {
  width: 320px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: auto;
  }
}


.products-catalog h1 {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: $based-color-black;
  border-top: solid 1px  #ebebeb;
  border-bottom: solid 1px  #ebebeb;
  padding-top: 27px;
  padding-bottom: 41px;
  margin: 0;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 65px;
    padding-left: 0;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.products-catalog__catalog-list {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    display: flex;
    gap: 79px 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px 80px;
  }
}

.catalog-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  margin: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 140px;
  }
}

.products-catalog__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    font-size: 16px;
    line-height: 20px;
  }
}

.products-catalog__more-discription {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 170px;
  }
}

.products-catalog__list-item {
  border-bottom: solid 1px  #ebebeb;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding: 20px 20px 25px;

  @media (min-width: $tablet-width) {
    width: 324px;
    border: none;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    gap: 5px;
  }
}

@media (min-width: $tablet-width) {
  .products-catalog__list-item:not(:last-child) {
    background: linear-gradient(#ffffff 15%, #eaeaea 15%);
  }
}


.products-catalog__inner {
  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-areas:
    "catalog-title ."
    "wt            wght"
    "tit           tt"
    "pt            pp";
  gap: 0;
  padding-left: 20px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    grid-template: "catalog-title catalog-title" 68px "wt            wght" 30px "tit           tt" 30px "pt            pp" 30px / 125px 125px;
    margin: auto;
    padding-bottom: 15px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 84px 84px;
    grid-template-rows: 68px 32px 32px 40px;
  }
}

.big-can-inner {
  padding-left: 12px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}


.catalog-button {
  width: 280px;
  height: 40px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.button:focus {
  background-color: #5eaa2f;
}


.weight-title {
  grid-area: wt;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.weight {
  grid-area: wght;
  text-align: right;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.taste-title {
  grid-area: tit;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.taste {
  grid-area: tt;
  text-align: right;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.price-title {
  grid-area: pt;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.price {
  grid-area: pp;
  text-align: right;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.products-catalog__picture {
  padding-top: 10px;
  padding-left: 35px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: auto;
    padding-left: 0;
    margin-top: -30px;
    padding-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.big-can {
  padding-left: 25px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.small-can {
  @media (min-width: $tablet-width) {
    margin-top: -20px;
    padding-bottom: 20px;
  }
}

.products-catalog__item-title {
  width: 90px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 15px;
  align-self: flex-start;
  padding-left: 10px;

  @media (min-width: $tablet-width) {
    justify-self: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 140px;
    padding-left: 0;
  }
}

.catalog-inner-link {
  text-decoration: none;
  cursor: pointer;
  place-self: flex-start center;
  grid-area: catalog-title;
  display: grid;
}

.catalog-inner-link h3 {
  align-self: flex-start;
}

.small-can-img {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    height: 172px;
  }
}

.big-can-img {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    height: 206px;
  }
}

.catalog-inner-link {
  text-decoration: none;
  cursor: pointer;
  justify-self: center;
  grid-area: catalog-title;
}

.small-can-img {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    height: 172px;
  }
}

.big-can-img {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    height: 206px;
  }
}
