.products-catalog {
  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
  }
}

.products-catalog__position {
  width: 320px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: auto;
  }
}


.products-catalog h1 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: $based-color-black;
  border-top: solid 1px  #ebebeb;
  border-bottom: solid 1px  #ebebeb;
  padding-top: 27px;
  padding-bottom: 41px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.products-catalog__catalog-list {
  list-style: none;
  padding: 0;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  grid-area: catalog-title;
  margin: 0;
  text-align: center;


  @media (min-width: $tablet-width) {
    width: 140px;
  }
}

.products-catalog__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
  }
}

.products-catalog__more-discription {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 170px;
  }
}

.item-more {
  border-bottom: solid 1px  #ba2f2f;
}

.products-catalog__list-item {
  border-bottom: solid 1px  #ebebeb;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding: 20px 20px 25px;

  @media (min-width: $tablet-width) {
    width: 324px;
    border: none;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

@media (min-width: $tablet-width) {
  .products-catalog__list-item:not(:last-child) {
    background: linear-gradient(#ffffff 15%, #eaeaea 15%);
  }
}


.products-catalog__inner {
  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-areas:
    "catalog-title catalog-title"
    "wt            wght"
    "tit           tt"
    "pt            pp";
  gap: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 125px 125px;
    grid-template-rows: 48px 20px 20px 20px;
    margin: auto;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 84px 84px;
  }
}

.catalog-button {
  width: 280px;
  height: 40px;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.weight-title {
  grid-area: wt;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.weight {
  grid-area: wght;

  @media (min-width: $tablet-width) {
    text-align: right;
    border-bottom: 1px solid #cdcdcd;
  }
}

.taste-title {
  grid-area: tit;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.taste {
  grid-area: tt;

  @media (min-width: $tablet-width) {
    text-align: right;
    border-bottom: 1px solid #cdcdcd;
  }
}

.price-title {
  grid-area: pt;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.price {
  grid-area: pp;

  @media (min-width: $tablet-width) {
    text-align: right;
    border-bottom: 1px solid #cdcdcd;
  }
}

.products-catalog__picture {
  @media (min-width: $tablet-width) {
    margin: auto;
  }
}

.products-catalog__item-title {
  @media (min-width: $tablet-width) {
    justify-self: center;
  }
}
